* {
    text-align: center;
}

body {
    width: 960px;
    color: #777;
    background-color: #777;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.header1 {
    background-color: #ebebeb;
    padding: 30px;
    margin: 10px 0px 10px 0px;
}

.nav1 {
    background-color: #ebebeb;
    padding: 30px;
    margin: 10px 0px 10px 0px;
}

.section1 {
    background-color: #ebebeb;
    height: 215px;
    padding: 30px 10px 30px 10px;
    margin: 10px 10px 20px 0px;
    width: 495px;
    float: left;

}

.aside1 {
    background-color: #ebebeb;
    height: 215px;
    padding: 30px;
    margin: 10px 0px 20px 10px;
    width: 365px;
    float: left;

}

footer {
    background-color: #ebebeb;
    clear: both;
    padding: 30px;
}

h1 {
    color: #777;
    background-color: #ebebeb;
    padding: 15px;
    margin: 10px;
}

p {
    color: #777;
    background-color: #ebebeb;
    padding: 15px;
    margin: 10px; 
}

article {
    color: #ebebeb;
    background-color: #777;
    height: 150;
    margin: 30px 0px 0px 0px;
    padding: 15px;
}
